#canvas {
    width: 700px;
    height: 450px;
    border: 5px black solid;
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
}
h1 {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    place-items: center;
    background: rgb(96,93,154);
    background: linear-gradient(90deg, rgba(96,93,154,1) 0%, rgba(203,118,28,1) 21%, rgba(0,212,255,1) 100%);
}
#btnempezar  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: bisque;
}
#btndescargar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: bisque;
}